#app{
    display: flex;
    flex-direction: row;
}
.list{
    width: 250px;
    height: 500px;
    background-color: burlywood;
    margin-right: 10px;
}
.list ul {
    height: 450px;
}
.list button{
    box-sizing: border-box;
    background-color: greenyellow;
    width: 100%;
}