<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <div class="list">
        <ul>
            <li v-for="list in listLeft">{{list}}</li>
        </ul>
        <button :disabled="false" v-on:click="onClick(listLeft[0])">Перенести заметку --></button>
    </div>
    <div class="list">
        <ul>
            <li v-for="list in listRight">{{list}}</li>
        </ul>
        <button :disabled="false" v-on:click="onClick(listRight[0])"><-- Перенести заметку</button>
    </div>
    <!--    <button :disabled="true">Перенести заметку &ndash;&gt;</button>-->
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</html>